# Python Libraries
Flask==3.0.3
mysql-connector==2.2.9
firebase-admin==6.5.0
pandas==2.2.1
torch==2.4.1
nltk==3.8.1
scikit-learn==1.5.1

# Updated Pip Version
pip==24.2

# Additional Tools
setuptools==72.1.0
